.homeTitulo {
    display: flex;
    font-size: 40px;
    font-family: Roboto;
    color: white;
    justify-content: center;
}
.elemento {
    display: flex;
    align-content: center;
    background-color:rgba( 100, 100, 100, 0.2);
    padding: 30px;
    margin: 25px 150px 25px 150px;

    .movieTitulo {
        font-size: 35px;
        font-family: Roboto;
        color: white;
    }
}